body {
  background-color:   #ffffff;
}

header {
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navigation {
  margin: 0 auto;
  max-width: 1000px;
}

.container-fon {
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  background-image: url(../image/fon.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

#credits {
  margin-top: 200px;
}

#container {
  max-width: 1000px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #313131;
}

a:hover {
  color: #198754;
  text-decoration: underline;
}

#form {
  color: #3CB371;
}

#credit {
  background-color: #3CB371;
  color: #ffffff;
}

#credit:hover {
  transform: scale(1.03);
}

footer {
	width: 100%;
	margin: 0 auto;
    background-color: #313131;
}

.footer-container {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  width: 160px;
}

.logo img {
  width: 220px;
}

.container-for-info img {
  width: 48px;
  height: 48px;
}

.container-for-bank img {
  width: 300px;
}

.container-for-info h2 {
  color: #313131;
}

.social img {
  width: 24px;
  height: 24px;
}

footer #info {
  font-size: 14px;
}

.card {
  width: 800px;
}

.card:hover {
  transform: scale(1.01);
  transition-duration: 0.3s;
}
